.cabecalho {
    display: flex;
    background-color: blue;
    align-items: center;
}
 
.lista {
    display: flex;
    list-style: none;
}

.container{
    align-items: center;
    user-select: none;
    gap: 24px;
    background-color: #f5f5f5;
    padding: 10px 12px 10px 20px;
    border-radius: 5px;
    border-radius: 5px;
}